services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000
      - 80
    depends_on:
      - db
      - minio
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app_net

  db:
    image: postgres:16
    env_file:
      - .env
    ports:
      - 5432
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app_net

  minio:
    image: minio/minio:latest
    env_file:
      - .env
    command: server /data --console-address ":9001"
    ports:
      - 9000
      - 9001
    volumes:
      - minio_data:/data
    restart: unless-stopped
    networks:
      - app_net

volumes:
  db_data:
  minio_data:

networks:
  app_net:
    driver: bridge
