services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minio_api
    ports:
      - 3000
      - 80
    depends_on:
      - db
      - minio
    env_file:
      - .env
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: minio_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: minio_server
    env_file:
      - .env
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # MinIO API
      - "9001:9001" # MinIO Console
    volumes:
      - minio_data:/data
    restart: unless-stopped

volumes:
  db_data:
  minio_data:
